@charset "utf-8";

:root {
  --main-color: rgb(255, 94, 24);
  --color-green: #39aa55;
  --color-purple: #6c13fe;
  --color-yellow: #ffc52f;
  --color-red: #fe3613;
  --color-blue: #00a3ff;




  --sub-font: 'Do Hyeon', sans-serif;
  --sub-font2: 'Kirang Haerang', cursive;
  --sub-font3: 'Roboto', sans-serif;
  --sub-font4: 'Black Han Sans', sans-serif;

}

#container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.nav {
  width: 40%;
  height: 100vh;
  border: 2px solid #000;
  background: var(--main-color);
  padding: 0 1%;
  box-sizing: border-box;
  position: relative;
}


.section {
  width: 60%;
  height: 100vh;
  display: flex;
  overflow-y: scroll;
}

.gnbWrap {
  padding-top: 2%;
}


.gnbWrap li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.gnbWrap li.first {
  padding-left: 25%;
  justify-content: center;
}


/* logo */
.logo {
  border: 2px solid;
  width: 10vw;
  height: 7vw;
  margin-right: 3%;
  position: absolute;
  top: 2%;
  overflow: hidden;
}

.logo img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.gnbWrap li a {
  font-size: 6.7vw;
  text-shadow: 15px 9px #000,
    0 2px #000,
    -2px 0 #000,
    0 -2px #000,
    2px 0 #000;
  text-transform: uppercase;
  line-height: 1.4;
  color: var(--main-color);
  font-weight: 600;
  /* letter-spacing: -0.03em; */
  font-family: var(--sub-font4);

}

.gnbWrap li a:hover {
  padding-left: 3%;
  transition: all 0.3s ease;
  color: #000;
  text-shadow: 15px 9px #343434,
    0 2px #343434,
    -2px 0 #343434,
    0 -2px #343434,
    2px 0 #343434;
}



nav .link {
  display: flex;
}

nav .link li {
  margin-right: 5%;
}

nav .link a {
  font-size: 28px;
  text-transform: capitalize;
  line-height: 1.4;


}

nav .link a::before {
  display: inline-block;
  content: " 🏳️‍🌈";
}

nav .link a:hover {
  color: var(--color-yellow);
  transition: all 0.3s ease;
}

/* contents */

.contentsWrap {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  border-top: 2px solid;

}

.contentsWrap.hidden {
  display: none;
}

.contentsWrap__content {
  width: 50%;
  height: 30%;
  padding: 1.5% 3%;
  box-sizing: border-box;
  display: flex;
}

.contentsWrap__content:nth-child(even) {
  border: 2px solid;
  border-top: none;
  border-right: none;
  border-left: none;
}

.contentsWrap__content:nth-child(odd) {
  border-bottom: 2px solid;
  border-right: 2px solid;
}

.contentsWrap__content:nth-child(5n) {
  background: var(--color-blue);
}

.contentsWrap__content:nth-child(5n+1) {
  background: var(--color-green);
}

.contentsWrap__content:nth-child(5n+2) {
  background: var(--color-purple);
}

.contentsWrap__content:nth-child(5n+3) {
  background: var(--color-red);
}

.contentsWrap__content:nth-child(5n+4) {
  background: var(--color-yellow);
}

.contentsWrap__content .thumbnail {
  width: 55%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid;

}

.contentsWrap__content .textouter {
  flex: 1;
  padding-left: 3%;
  position: relative;
}

.contentsWrap__content .title {
  font-size: 28px;
  FONT-WEIGHT: 600;
  line-height: 1.4;
  font-family: var(--sub-font2);
}

.contentsWrap__content .title img {
  display: none;
}

.contentsWrap__content .category {
  font-size: 15px;
}

.contentsWrap__content a {
  border: 2px solid;
  display: block;
  margin-top: auto;
  height: 50px;
  width: 160px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

.contentsWrap__content a:hover {
  padding-left: 10%;
  transition: all 0.3s ease;
  background-color: #000;
}

/* 본문  */
.detailWrap {}
.titleWrap{
  height: 120px;
  background:var(--color-yellow);
  border: 2px solid;
  border-left: none;
  padding: 2%;
  box-sizing: border-box;
}
.titleWrap h2{

}
.titleWrap .category{

}
.titleWrap .date{

}