@charset "UTF-8";

/* 공통 */
.show-default {
  display: block !important;
}

.hide-default {
  display: none !important;
}

/* 슬라이드 효과 */
.slide-in-up {
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  opacity: 0;
  -webkit-transition: opacity ease 1s, -webkit-transform ease 1s;
  transition: opacity ease 1s, -webkit-transform ease 1s;
  transition: opacity ease 1s, transform ease 1s;
  transition: opacity ease 1s, transform ease 1s, -webkit-transform ease 1s;
}

.slide-in-up.on {

  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  transition-delay: .1s;
}

.slide-in-up.delay01 {
  -webkit-transition-delay: .1s;
  transition-delay: .1s;
}

.slide-in-up.delay02 {
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}

.slide-in-up.delay03 {
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
}

.slide-in-up.delay04 {
  -webkit-transition-delay: .4s;
  transition-delay: .4s;
}

.slide-in-up.delay05 {
  -webkit-transition-delay: .5s;
  transition-delay: .5s;
}

.slide-in-up.delay06 {
  -webkit-transition-delay: .6s;
  transition-delay: .6s;
}

.slide-in-up.delay07 {
  -webkit-transition-delay: .7s;
  transition-delay: .7s;
}

.slide-in-up.delay08 {
  -webkit-transition-delay: .8s;
  transition-delay: .8s;
}

.slide-in-up.delay09 {
  -webkit-transition-delay: .9s;
  transition-delay: .9s;
}

.slide-in-up.delay10 {
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}



@media all and (max-width: 1200px) {}

@media all and (max-width: 1024px) {
  .show-1024 {
    display: block !important;
  }

  .hide-1024 {
    display: none !important;
  }
}

@media all and (max-width: 768px) {
  .show-768 {
    display: block !important;
  }

  .hide-768 {
    display: none !important;
  }
}

@media all and (max-width: 640px) {
  .show-640 {
    display: block !important;
  }

  .hide-640 {
    display: none !important;
  }
}

@media all and (max-width: 568px) {
  .show-568 {
    display: block !important;
  }

  .hide-568 {
    display: none !important;
  }
}

@media all and (max-width: 425px) {
  .show-425 {
    display: block !important;
  }

  .hide-425 {
    display: none !important;
  }
}

@media all and (max-width: 375px) {
  .show-375 {
    display: block !important;
  }

  .hide-375 {
    display: none !important;
  }
}

@media all and (max-width: 320px) {
  .show-320 {
    display: block !important;
  }

  .hide-320 {
    display: none !important;
  }
}